{% extends 'base.html' %}
{% block content %}

<div class="card">
  <h1 class="">Existing Superhero Database</h1>
</div>
{% for hero in dictionary %}
<script>
 // console.log('api')
 // weavy.space({ key: "{{ hero.name }}" }).app({key: "{{ hero.name }} comments", type: "comments", container: ".{{ hero.name }}.container"})
</script>
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ hero.name }}</span>
    <div class='left'>
      <p>Powerstats</p>
      <li>Strength {{ hero.powerstats.strength }}</li>
      <li>Speed {{ hero.powerstats.speed }}</li>
      <li>Power {{ hero.powerstats.power }}</li>
      <li>Intelligence {{ hero.powerstats.intelligence }}</li>

      <p>Real Name: {{ hero.biography.fullName }}</p>
      <p>Alignment: {{ hero.biography.alignment }}</p>
      <a
        href="https://www.google.com/search?rlz=1C5CHFA_enUS841US841&ei=ePeEXfXxMMKS0PEP6YSx6Ag&q={{ hero.name }}&oq={{ hero.name }}&gs_l=psy-ab.3..0i67l10.1790.2112..2571...0.4..0.240.718.1j1j2......0....1..gws-wiz.......0i71j0j0i131.bWi2AZaWayY&ved=0ahUKEwj1jfzI4t_kAhVCCTQIHWlCDI0Q4dUDCAs&uact=5">Click
        here to learn more</a>
    </div>
    <div class="">
      <img class="responsive-image" src="{{ hero.images.sm }}">
    </div>
  </div>
  <div class="{{ hero.name }} container"></div>
</div>
{% endfor %}

{% endblock %}